@font-face {
  font-family: 'Frutiger';
  src: url('../css/fonts/FrutigerLTArabic45Light.ttf') format('truetype');
}

body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
  color:#8f8f88;
  font-family: 'Frutiger';
}

p{
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p, strong, span, a{
  color:#8f8f88;
}

a:hover{
  text-decoration: none;
}

.bg-primary{
  background-color:#39509C !important;
}

.primary-color{
  color:#39509C !important;
}

.bg-secondary{
  background-color:#E37236 !important;
} 

.secondary-color{
  color:#E37236 !important;
}

.bg-gray{
  background-color:#9D9D9B !important;
}

.bg-senary {
  background-color: #fff !important;
}

.header{
  height:96px;
}

#nav-top span{
  color:#fff;
  font-size: 14px;
}

.cart{
  color:#fff;
  position: relative;
  top:5px;
}

.header span{
  color:#fff;
}

.fa-stack[data-count]:after{
  position:absolute;
  top:10px;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#39509C;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
  right: 20px;
}

.red-cart {
  color: #fff; 
  background:#39509C;
}

.fa-stack-2x {
  font-size: 1.0em;
  margin-top: 13px;
}

.language-switcher{
  margin-bottom:0px;
  padding-left: 0px;
}

.language-switcher li{
  list-style: none;
}

.language-switcher .dropdown-toggle{
  padding-left: 0px;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
}

#nav-top li{
  margin-right: 71px !important;
}

#nav-top a{
  padding-left: 0px !important;
  padding-right:0px !important;
}

#main_navbar, #sub-nav, #sub-nav-time {
  height: 64px !important;
}

.main-nav .nav-item {
  margin-left:18px;
}

.fa-caret-down{
  margin-left: 5px;
}

.navbar-dark .navbar-toggler{
  color:#000;
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}

.dropdown-menu > li a:hover, .dropdown-menu > li.show {
  background: #414d73;
  color: white;
}

.dropdown-menu > li.show > a{
  color: #000;
}

.dropdown-item{
  color:#000;
}

.navbar-light .navbar-toggler {
  color:#000;
}

.product-info {
  margin-top: 50px;
}

button:focus{
  outline: unset;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .50rem .4rem;
  font-size: 16px;
  border-radius: .2rem;
}

.btn-primary {
  color: #fff;
  background-color:#39509C;
  border-color:#39509C;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #39509C;
  border-color: #39509C;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: unset;
}

.list-inline-item:not(:last-child) {
  margin-left: .5rem;
}

.list-inline-item {
  display: inline-block;
}

a.waves-effect, a.waves-light {
  display: inline-block;
}

.btn-floating {
  background-color: #fff !important;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #39509C;
  text-align: center;
  font-size: 1.25rem;
  line-height: 47px;
}

#wrapper-container{
  padding-top: 130px;
}


#wrapper-container .img-fluid{
  width:100%;
  
}

@media (min-width: 768px){
  .navbar-expand-md .shop-toggle{
      display: block;
  }
}

@media (max-width: 768px){
  .navbar-expand-md .shop-toggle{
      display: none;
  }
  
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin:0;
    border-width: 1px;
  }
}

@media (max-width: 768px){
  .navbar-expand-md .shop-toggle{
    display: none;
  }
}

@media (min-width: 768px){
  .navbar-expand-md .shop-toggle{
    display: block;
  }
  
}

#main-slider {
  min-height: 290px;
}

.carousel-indicators li{
  bottom: -40px;
}

.carousel-indicators li{
    background-color: #39509c;
}

.carousel-indicators li.active{
    background-color: #FF5C01;
}

.carousel-item img{
  width: 100%;
}

.offer-slider .carousel-indicators {
  left: 0;
  top: auto;
    bottom:0px;

}

/* The colour of the indicators */
.offer-slider .carousel-indicators li {
    background: #345CA1;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.offer-slider .carousel-indicators .active {
    background: #FF5C01;
}

/* Brands Logos */


.brands_slider {
  height: 100%;
}

.brands_item {
  height: 100%
}

.brands_item img {
  max-width: 100%
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767
}

.brands_prev {
  left: 40px
}

.brands_next {
  right: 40px
}


.dropdown-toggle::after{
  display: none;
}

.navbar-nav .nav-link{
  color: #fff !important;
}

.position-relative {
  position: relative !important;
}

.product_item {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.product_item .product_image {
  overflow: hidden;
  padding: 0;
}

.product_item .product_image img {
  width: 100%;
}

.product_item .product_details {
  padding: 5px 10px 5px 10px;
}

.product_item .product_details .product_title h3{
  margin-top: 0;
  margin-bottom:0px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
}

.product_details{
  text-align: center;
}

.product_item .product_details ul {
  padding: 0 3px 10px 0;
  margin: 0;
}

.product_item .product_details ul li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}

.product_item .product_details ul li i {
  padding-right: 7px;
}

.price{
  margin-top: 5px;
  text-align: justify;
}

.product_item .product_details a i {
  vertical-align: middle;
  font-size: 20px;
}

.countdown span:first-of-type {
  margin-left: 0;
}

.countdown-circles span {
  width: 45px;
  height: 45px;
  background: #39509C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.countdown-circles span:first-of-type {
  margin-left: 0;
}

.holder span{
  color:#fff;
}

.marginRight{
  margin-left:7px;
}

.price-container p{
  text-align: center !important;
}


.discount {
  padding: 8px;
  background-color: #345CA1;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 8px;
}

ul.social {
    padding: 0 3px 10px 0;
    margin: 0;
}

ul.social li {
    display: inline-block;
    position: relative;
    padding-right: 2px !important;
}

.social .fa-heart-o, .social .fa-share-alt{
  color:#39509C;
}

.owl-nav {
  display: block;
}

.owl-nav .owl-prev {
  position:absolute;
  right:35px;
  top:-30px;
  border:5px solid #ff5e14;
  text-align: center;
  z-index: 5;
  width:30px;
  height:30px;
  outline:0;
  background: #ff5e14;
  color:#fff;
}

#brand-logos .owl-nav .owl-prev, #brand-logos .owl-nav .owl-next{
  top: -55px;
}

.owl-nav .owl-prev span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}

.owl-theme .owl-nav .disabled{
  opacity: 1;
}

.owl-nav .owl-next {
  position: absolute;
  right: 0px;
  top: -30px;
  border: 5px solid #39509C;
  text-align: center;
  z-index: 5;
  width: 30px;
  height: 30px;
  outline: 0;
  background:#39509C;
  color: #fff;
}

.owl-nav .owl-next span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}

.owl-nav .owl-next:hover {
  background:#39509C;
  border-color:#39509C;
  color:#fff;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  background:#39509C;
  border-color:#39509C;
  color:#fff;
  border-radius:50%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #39509C;
  color: #FFF;
  text-decoration: none;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span{
  color:#fff;
}

.mt-custom{
  margin-top:80px;
}

.cat-title{
  color: #39509C;
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 15px;
}

.text-black{
  color: #000;
}

#nav-top nav{
  padding: 0px;
}

.new-product h3{
   margin-top: 0;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
}

.new-product p{
  color:#000;
  font-weight: 700;
}

.new-product span{
  color:#FD0019;
  font-weight: 700;
}

.price-container .discount-price{
  text-decoration: line-through;
}

.price-div{
  font-size: 16px;
  font-weight: 500;
}

.price-strong{
  font-weight: 700;
  color:#000;
}

.price-discount{
  text-decoration: line-through;
  color:#C6C6C6;
}

#btn-top {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btn-top:hover {
  cursor: pointer;
  background-color: #333;
}

#btn-top:active {
  background-color: #555;
}

#btn-top.show {
  opacity: 1;
  visibility: visible;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; 
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right:0; 
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; 
}

.card {
  line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
  font-weight: bold; 
}

.checked, .price span {
  color: #ff9f1a; 
}

.product-title {
  margin-top: 0; 
}

.size {
  margin-right: 10px; 
}

.size:first-of-type {
  margin-left: 40px; 
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; 
}

.green {
  background: #85ad00; 
}

.blue {
  background: #0076ad; 
}

.tooltip-inner {
  padding: 1.3em; 
}

.new-product .social, .popular-products .social, .selling-products .social, .mt, .mb{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); 
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); 
    } 
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); 
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); 
  } 
}

@media only screen and (max-width: 577px) {
  .owl-nav .owl-prev {
    left: -17px !important;
  }
  .owl-nav .owl-next {
    right: -17px !important;
  }
}

#wrapper-container .view-more{
  position: relative;
  right:0;
}

.viewmore{
  position: relative;
  top: -3px;
  color: #39509C;
  font-weight: 600;
}


/* hover dropdown menus */
@media only screen and (max-width: 991px) {
  .navbar-hover .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
  }
}
@media only screen and (min-width: 992px) {
  .navbar-hover .collapse ul li{position:relative;}
  .navbar-hover .collapse ul li:hover> ul{display:block}
  .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
  .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
}

/*SEARCH FORM*/
.search-form {
  border-radius: 30px 0px 0px 30px;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor:pointer;
}

.brands {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px
}

.brands_slider_container {
  height: 130px;
}

.brands_slider {
  height: 100%;
}

.brands_item {
  height: 100%
}

.brands_item img {
  max-width: 100%
}

#newsletter {
  /* background-image: url('../img/pattern.png'); */
  background-color: #9D9D9B !important;
  padding: 40px 0px;
  text-align: center;
  color: #fff;
}

#newsletter h3 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

#newsletter form {
  background: #39509c;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
  background: #39509c;
}

#newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #fff;
  color: #939499;
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

#newsletter form input[type="submit"]:hover {
  opacity: 0.9;
}

.marker-link{
  font-size: 16px;
  color: #fff;
  position: relative;
  top: 8px;
}

.marker{
  font-size: 40px;
  float: right;
  margin-left:5px;
  color: #fff;
  margin-top:10px;
}

.nav-bg{
  background-color:#414d73 !important;
  margin-top: 5px;
  margin-bottom: 5px;
}  
.flash-m {
  padding-left: 0px;
  text-align: left;
  padding-top: 21px;
}
.flash-sale{
  text-align:left;
  color:#fff;
}
.flash-sale:hover{
  color:#fff;
}
.clock{
  color:#fff;
  background: #e37236;
  padding: 16px;
}
.langue .nav-link{
  color: #fff;
}

.langue .fa-caret-down{
  margin-left: 15px;
}

#new-arrival .card-body, #hot-products .card-body, #feature-products .card-body, .cat-product .card-body{
  padding: unset;
}

#new-arrival .card-title, #hot-products .card-title, #feature-products .card-title {
  background-color:#EFEFEF;
  font-size: 18px;
  color:#39509C;
  margin-bottom:0px;
  padding: 10px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background-repeat: no-repeat;
  background-position: left top;  
  background-size: 100% 100%;
  background-image:url('../img/footer.jpg');
  padding: 30px 0;
}

#footer h5, #footer strong, #footer li {
  color:#ffffff;
}
#footer a {
  color: #ffffff;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size:25px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}

#footer ul.quick-links li{
  padding: 3px 0;
}

#footer ul.quick-links li a i{
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}


input[type="email"]::placeholder {
  color: #fff;
  opacity: 1; 
}

input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.sale-price{
  color:#e37236;
  font-weight:600;
  margin-right:5px;
}

.hovereffect{
  border: 1px solid #EFEFEF;
}

.regular-price{
  color:#b6b6b5;
  text-decoration: line-through;
}

.title{
  color: #39509C;
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 15px;
  text-transform: uppercase;
  display:inline;
}

.cat-product .card-title{
  text-align:center;
  font-size: 18px;
  font-weight: 600;
  padding: 0px;
  color: #39509C;
}

.hover{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 16px;
  padding-right: 16px;
  height: 311px;
  padding-top: 1px;
}

.grid-v1:hover .hover{
  display:block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;  
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
  text-align: center;
}

.hovereffect:hover .overlay {
  height: 71px;
}
 
.social-icons{
  margin-top:10px;
}

.social-icons a{
  display: inline-block !important;
  margin-top:5px;
  margin-bottom:5px;
  margin-right: 15px;
}

.social-icons .fa{
  font-size:18px;
}

.title-wrapper{
  background-color: #EFEFEF;
  text-align: center;
  padding-bottom: 15px;
}

.title-wrapper .name{
  margin-bottom: 0px;
}

.col-xs-5-cols, .col-sm-5-cols, .col-md-5-cols, .col-lg-5-cols {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.col-xs-5-cols {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 768px) {
  .col-sm-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5-cols {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.breadcrumb-item+.breadcrumb-item::before{
  display:none;
}

.fa-angle-double-right,.fa-home{
  color:#D4704C;
}

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.in-active-step{
  color: #fff;
  background-color: #8f8f88;
  border-color: #8f8f88;
}

.payment-img{
  width:100px;
  height: 25px;
}

.shipping{
  border: #cacaca 1px solid;
  border-top: none;
  padding: 9px 16px;
  height: 110px;
  margin-bottom:10px;
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  text-align: center;
}

.has-badge{
  top: -8px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
pointer-events: none;
}

/* Product Color */
.product-color {
margin-bottom: 30px;
}

.color-choose div {
display: inline-block;
}

.color-choose input[type="radio"] {
display: none;
}

.color-choose input[type="radio"] + label span {
display: inline-block;
width: 40px;
height: 40px;
margin: -1px 4px 0 0;
vertical-align: middle;
cursor: pointer;
border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
border: 2px solid #FFFFFF;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]:checked + label span {
background-image: url(../img/check-icn.svg) !important;
background-repeat: no-repeat !important;
background-position: center !important;
}

/* Cable Configuration */
.cable-choose {
margin-bottom: 20px;
}

.cable-choose button {
border: 2px solid #E1E8EE;
border-radius: 6px;
padding: 13px 20px;
font-size: 14px;
color: #5E6977;
background-color: #fff;
cursor: pointer;
transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
border: 2px solid #86939E;
outline: none;
}

.cable-config {
border-bottom: 1px solid #E1E8EE;
margin-bottom: 20px;
}

.cable-config a {
color: #358ED7;
text-decoration: none;
font-size: 12px;
position: relative;
margin: 10px 0;
display: inline-block;
}
.cable-config a:before {
content: "?";
height: 15px;
width: 15px;
border-radius: 50%;
border: 2px solid rgba(53, 142, 215, 0.5);
display: inline-block;
text-align: center;
line-height: 16px;
opacity: 0.5;
margin-right: 5px;
}
#timer, #days, #hours, #minutes, #seconds {
display: inline-block;
line-height: 1;
}

#timer span{
display: block;
font-size: 20px;
color: white;
}

#days,#hours,#minutes,#seconds{
color: #fff;
}

#footer a {
margin-top:0px !important;
margin-bottom:0px !important;
}

.soial-media li{
margin-right: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
.tile-primary {
  background-color: #1b80c2;
}

.tile {
  margin-bottom: 15px;
  border-radius: 3px;
  color: #FFFFFF;
  transition: all 1s;
}

.tile-heading {
  padding: 5px 8px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  background-color: rgba(255,255,255,0.1);
}

.tile-body h2{
  color:#fff;
}

.tile-body {
  padding: 15px;
  color: #FFFFFF;
  line-height: 48px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}

.tile-body .fa{
  font-size: 30px;
}

.tile a {
  color: #FFFFFF;
}

.tile-footer {
  padding: 5px 8px;
  background-color: rgba(0,0,0,0.1);
}
/* .img-circle {
  margin-top: 20px;
  height: auto;
  width: 200px;
 } */