.nav, nav, body {
  direction: rtl;
}

ul.nav {
  direction: rtl;
}

.search-btn {
  border-radius: 30px 0px 0px 30px !important;
}

#newsletter form input[type="submit"]{
right:unset;
left: -1px;
}

.owl-carousel .owl-item,
.owl-wrapper {
  float: right;
}